{% extends "dashboard/tknDash.html" %}

{% block js %}

<script type="text/javascript">

function exifMap(){
	Dajaxice.maps.exifMap(exifCallback,{'cloudItem':iVal(),'tokenID':tVal()})	
}

function exifCallback(data){
	Dajax.process(data)
}

function mailRelation(){
	Dajaxice.maps.mailRelation(mailCallback,{'cloudItem':iVal(),'tokenID':tVal()})	
}

function mailCallback(data){
	Dajax.process(data)
}


</script>

{% endblock %}

{% block content %}

<div class="page-header">
	<h1>Maps</h1>
</div>

<ol class="breadcrumb">
	<li><a href="/clouditem/">Cloud Item</a></li>
	<li><a href="/clouditem/{{objID}}/">Cloud Item {{objID}}</a></li>
	<li><a href="/token/{{objID}}/">Access Tokens</a></li>
	<li><a href="/token/{{objID}}/{{tokenID}}/">Access Token {{tokenID}}</a></li>
	<li class="active">Maps</li>
</ol>


<div class="container-fluid">
<div class="panel panel-default">
	<div class="panel-heading"><h2>EXIF</h2></div>
	<div class="panel-body">
		Display image/video location basing on their GPS location.
	
		<input type="button" value="Compare" class="btn btn-default" onclick="exifMap()" />
		<div id="map-canvas"></div>
		<div id="exifError"></div>
		<div id="exif"></div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><h2>E-Mail Relation</h2></div>
	<div class="panel-body">
		Create a map of relation between e-mail found

		<input type="button" value="Compare" class="btn btn-default" onclick="mailRelation()" />
		<div id="relationError"></div>
		<div id="relation"></div>

	</div>
</div>
</div>

{% endblock %}

