{% extends "base.html" %}
{% block menu %}{% endblock %}

{% block js %}
<script type="text/javascript">
	function parseReport(){
		Dajaxice.importer.decrypt(Dajax.process);
	}


</script>
{% endblock %}

{% block content %}


<p>Import a report</p>

<form method='post' action='/import/' id="upForm" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in form %}
		<p>{{ field.label }}</p>
		<p>{{ field }}</p>
	{% endfor %}
	<input type='submit' value='upload' />
</form>

{% if upload %}
	<p>{{ upload }}</p>
{% endif %}

<div id="parseStatus"></div>

<p>Imported report</p>

<table>
	<tr><td>Report</td><td>Date</td><td>IP</td></tr>
	
	{% for report in repList %}
	<tr><td><a href="/dashboard/?r={{ report.fileName }}">{{ report.fileName }}</a></td><td>{{ report.uploadDate }}</td><td>{{ report.uploadIP }}</tr>
	{% endfor %}
</table>

{% endblock %}

