{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
	function parseReport(){
		Dajaxice.importer.decrypt(Dajax.process);
	}


</script>
{% endblock %}

{% block content %}

{% if upload %}
	<p>{{ upload }}</p>
{% endif %}

<p>Import a report</p>

<form method='post' action='/import/' id="upForm" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in form %}
		<p>{{ field.label }}</p>
		<p>{{ field }}</p>
	{% endfor %}
	<input type='submit' value='upload' />
</form>

<div id="parseStatus"></div>
<p>Imported report</p>

<table>
	<tr><td>Report</td><td>Date</td><td>IP</td></tr>

</table>

{% endblock %}

