<h3>History for: {{fileTitle}} | <a href="javascript:void" onclick="back()">Go Back</a></h3>
<div id="comparatorError"></div>
<div id="comparatorLoader" style="display: none; width: 100%; text-align: center;"><img src="/static/360.GIF" id="comparatorLoader" /> Computing diff...</div>
<div id="comparator" style="display: none; width: 100%; text-align: center;"></div>
<div id="fileHistoryContainer">
<div id="visualizationFileHistory"></div>

<script type="text/javascript">

function diffCallBack(data){
	$("#comparatorLoader").fadeOut("slow")
	$("#comparator").fadeIn("slow")
	Dajax.process(data)
}

function back(){
	$("#fileHistoryContainer").fadeOut("slow")
	$("#comparator").fadeOut("slow")
	$("#visualization").fadeIn("slow")
}

function tip(elem,ev){

	var dec = $("<div/>").html(ev).text();
	var obj = JSON.parse(dec)

	$(elem).qtip({
	content: {
		title: "Properties",
		text: "<table><tr><td><b>"+obj['timeStr']+"</b></td></tr></table>",
		button: true},
	show: 'click',
	hide: {
		fixed: true,
		delay: 1000,
		effect: function() { $(this).fadeOut(250); }
	}
	})
}


  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualizationFileHistory');

    // Create a DataSet (allows two way data-binding)
    var items = new vis.DataSet([
		    {% for ev in events %}
		    {id: "{{ev.altName}}", 
			content: "<a href='javascript:void(0)' id='fh-{{forloop.counter}}'>{{ev.title}}</a>"
		    
		    , start: new Date({{ev.time}})},
		    {% endfor %}
		      ]);

      // Configuration for the Timeline
      var options = {orientation: 'top'};

  // Create a Timeline
  var timeline = new vis.Timeline(container, items, options);

	{% for ev in events %}
		tip('#fh-{{forloop.counter}}','{{ev.params}}')
	{% endfor %}

	timeline.on("select", function(properties){
			
			if (properties.items.length == 2){
				console.log(properties.items)
				$("#comparatorLoader").fadeIn("slow")
				Dajaxice.comparator.compareTwoFile(diffCallBack,{'tokenID': tVal(),'cloudItem': iVal(),'revOne':properties.items[0],'revTwo':properties.items[1],'altName':'{{altName}}'})
			}
	});
</script>

</div>
