<div id="visualization"></div>

<script type="text/javascript">

function showHistory(altId){
	Dajaxice.timeliner.fileHistoryTimeliner(showHistoryCallBack,{'tokenID':tVal(),'cloudItem':iVal(),'altName':altId})	
}

function showHistoryCallBack(data){
	$("#formHistoryError").html("")
	Dajax.process(data)
		
	if(data[0].id != "#formHistoryError"){
		$('#visualization').fadeOut("slow")
	}
}

function tip(elem,ev){

	var dec = $("<div/>").html(ev).text();
	var obj = JSON.parse(dec)
	var trashCont = ""
	var history = ""

	if(obj['trashed'] == "True"){
		trashCont = "<img src='/static/icons/bin.png' />"
	}

	if(obj['altName'] != ""){
		history = "<tr><td><img src='/static/icons/date.png' /><a onclick='showHistory(\""+obj['altName']+"\")'> History</a></td></tr>"
	}

	$(elem).qtip({
	content: {
		title: "Properties",
		text: "<table><tr><td><b>"+obj['timeStr']+"</b></td></tr>"+history+"<tr><td>"+trashCont+"</td></tr></table>",
		button: true},
	show: 'click',
	hide: {
		fixed: true,
		delay: 1000,
		effect: function() { $(this).fadeOut(250); }
	}
	})
}

  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

    // Create a DataSet (allows two way data-binding)
    var items = new vis.DataSet([
		    {% for ev in events %}
		    		
		    {id: {{forloop.counter}}, content: "<a id='{{forloop.counter}}'>{%  if ev.isDir == "True" %}<img src='/static/icons/folder.png' />{% endif %}{{ev.title}}</a>", start: new Date({{ev.time}})},
		    {% endfor %}
		      ]);

      // Configuration for the Timeline
      var options = {orientation: 'top'};

  // Create a Timeline
  var timeline = new vis.Timeline(container, items, options);

	{% for ev in events %}
		tip('#{{forloop.counter}}','{{ev.params}}')
	{% endfor %}
</script>
