<style>

table#diff{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 85%;
	height: 85%;
	border: solid 1px black;
	padding: 4px;
}

td#diffHead{
	font-weight: bold;
	text-align: left;
	font-size: 12pt;
}

td.revHead{
	font-weight: bold;
	text-align: center;
	font-size: 10pt;
}

</style>

<table id="diff">
	<tr height="35px"><td id="diffHead" colspan=2><img src="{{name}}" /></td><td style="text-align: right; margin: 0;padding: 0"><a href="javascript:void(0)" onclick="$('#comparatorCont').fadeOut('slow')"><img src="/static/close9.png" height=20 width=20 /></a></td></tr>
	
	{% if info.mime.0 == "application/pdf" %}
		<tr><td colspan=3 style="text-align: center"><embed src="/diff/{{info.data.diffName}}" height="100%" width="100%" style="text-align: center"></td></tr>
	{% elif info.mime.0 and info.mime.1 in imgMimes %}
	<tr><td>{{info.mime.0}}</td><td></td><td>{{info.mime.1}}</td></tr>
		<tr><td>Hash: {{info.data.hash1}}</td><td></td><td>Hash: {{info.data.hash2}}</td></tr>
		<tr><td style="text-align: center"><img style="border: solid 1px black" src="/diff/{{info.data.hash1}}.thumbnail" /></td><td></td><td style="text-align: center"><img style="border: solid 1px black" src="/diff/{{info.data.hash2}}.thumbnail" /></td></tr>
	{% endif %}
</table>
