<style>

table#diff{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 85%;
	height: 85%;
	border: solid 1px black;
	padding: 4px;
}

td#diffHead{
	font-weight: bold;
	text-align: center;
	font-size: 12pt;
}

td.revHead{
	font-weight: bold;
	text-align: center;
	font-size: 10pt;
}

</style>

<table id="diff">
	<tr height="35px"><td style="text-align: right; margin: 0;padding: 0"><a href="javascript:void(0)" onclick="$('#comparatorCont').fadeOut('slow')"><img src="/static/close9.png" height=20 width=20 /></a></td></tr>
	
	{% if mime == "application/pdf" %}
		<tr><td colspan=3 style="text-align: center"><embed src="/diff/{{name}}" height="100%" width="100%" style="text-align: center"></td></tr>
	{% elif mime in imgMimes %}
		<tr height="35px"><td>Type: {{mime}}</td></tr>
		<tr><td style="text-align: center"><img style="border: solid 1px black" src="/diff/{{name}}.thumbnail" /></td></tr>
	{% endif %}
</table>
