{% extends "dashboard/tknDash.html" %}

{% block js %}

<script type="text/javascript">

function formTimeline(){
	Dajaxice.timeliner.formTimeliner(formTimeCallBack,{'tokenID':tVal(),'cloudItem':iVal(),'form':$("#formTl").serialize(true)})
}

function formTimeCallBack(data){
	Dajax.process(data)
	$("#visualization").fadeIn("slow")
}

</script>

{% endblock %}

{% block rightcont %}

<h2>Documents timeline</h2>

<p>Generate a timeline with the documents of this account.</p>

<form action="" method="POST" id="formTl">
	{% csrf_token %}
	<table>
	{% for f in form %}
		<tr><td>{{f.label}}</td><td>{{f}}</td></tr>
	{% endfor %}
		<tr><td></td><td><input type="button" value="Generate" onclick="formTimeline()" /></td></tr>
	</table>

</form>

<div id="formHistoryError"></div>
<div id="fileHistory"></div>
<div id="formHistory"></div>


{% endblock %}

