{% extends "dashboard/tknDash.html" %}

{% block js %}
<script type="text/javascript" src="/static/func.js"></script>
<script>
$(function(){
$('#dp1').datepicker({
	format: 'dd/mm/yyyy'
});

$('#dp2').datepicker({
	format: 'dd/mm/yyyy'
});

});
</script>
{% endblock %}

{% block content %}

<div class="page-header">
	<h1>{{platformTitle}} Metadata Analysis</h1>
</div>

<ol class="breadcrumb">
	<li><a href="/clouditem/">Cloud Item</a></li>
	<li><a href="/clouditem/{{objID}}/">Cloud Item {{objID}}</a></li>
	<li><a href="/token/{{objID}}/">Access Tokens</a></li>
	<li><a href="/token/{{objID}}/{{tokenID}}/">Access Token {{tokenID}}</a></li>
	<li class="active">{{platformTitle}} Metadata Analysis</li>
</ol>

<div class="container-fluid">
	<table class="table">
		<tr>
			<td width="250px"><a class="foldingLink" onclick="startMetaAnalysis()" href="javascript:void(0);"><h3>Metadata Stats</h3></a></td>
			<td style="text-align: center; vertical-align: middle;"><img id="wait1" class="waiters" style="display: none" src="/static/47.GIF" /></td>
		</tr>
	</table>

	<div id="metaAnalysisError" style="display: none"></div>
	<div id="metaAnalysis" style="display: none"></div>
</div>

<div class="container-fluid">
	<table class="table"><tr>
			<td><a class="foldingLink" onclick="$('#metaSearchCont').fadeToggle('slow')" href="javascript:void(0);"><h3>Metadata Search</h3></a></td>
	</tr></table>

<div id="metaSearchCont" style="display: none" class="container-fluid">
	<div class="row">
	<div class="col-md-6">
	<form method="post" id="emailForm" action="">
		{% csrf_token %}
		<table>
			<tr><td>{{emailForm.email.label}}</td><td>{{emailForm.email}}</td></tr>
			<tr><td>&nbsp;</td></tr>
			<tr><td></td><td colspan=4><input type="button" value="Search" onclick="startFilterSearch(0)" class="btn btn-default"/></td></tr>
		
		</table>
	</form>
	</div>

	<div class="col-md-6">
	<form method="post" id="searchForm" action="">
		{% csrf_token %}
		<table>
			<tr><td><label for="id_resType">{{ resForm.resType.label }}</label></td><td colspan=4>{{ resForm.resType }}</td></tr>
			<tr><td colspan=5>&nbsp;</td></tr>
			<tr><td><label for="id_mimeType">{{ resForm.mimeType.label }}</label></td><td colspan=4>{{ resForm.mimeType }}</td></tr>
			<tr><td colspan=5>&nbsp;</td></tr>
			<tr>
				<td></td>
				<td><label for="id_startDate">{{ resForm.startDate.label }}</label></td><td>{{ resForm.startDate }}</td>
				<td><label for="id_endDate">&nbsp;{{ resForm.endDate.label }}</label></td><td>{{ resForm.endDate }}</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr><td></td><td colspan=4><input type="button" value="Search" onclick="startRes(0)" class="btn btn-default"/></td></tr>
		</table>
	</form>
	</div>
	<div>
	</div><img id="wait2" class="waiters" style="display: none" src="/static/47.GIF" /></div>
	<div id="searchError" style="display: none"></div>
	<div id="searchRes"></div>
</div>

</div>
<input type="hidden" value="{{tokenID}}" id="t" name="t" />
<input type="hidden" value="{{objID}}" id="i" name="i" />
{% endblock %}
