{% extends "dashboard/tknDash.html" %}

{% block js %}
<script type="text/javascript" src="/static/func.js"></script>
<script>
$(function(){
$('#dp1').datepicker({
	format: 'dd/mm/yyyy'
});

$('#dp2').datepicker({
	format: 'dd/mm/yyyy'
});

});
</script>
{% endblock %}

{% block content %}

<div class="page-header">
	<h1>{{platformTitle}} Metadata Analysis</h1>
</div>

<ol class="breadcrumb">
	<li><a href="/clouditem/">Cloud Item</a></li>
	<li><a href="/clouditem/{{objID}}/">Cloud Item {{objID}}</a></li>
	<li><a href="/token/{{objID}}/">Access Tokens</a></li>
	<li><a href="/token/{{objID}}/{{tokenID}}/">Access Token {{tokenID}}</a></li>
	<li class="active">{{platformTitle}} Metadata Analysis</li>
</ol>


<ul class="nav nav-tabs nav-justified">
	<li role="presentation" class="active"><a href="javascript:void(0)" id="searchTab"><h4>Search</h4></a></li>
	<li role="presentation"><a href="javascript:void(0)" id="statTab"  onclick="startMetaAnalysis()"><h4>Stats</h4></a></li>

</ul>
<br />
<div class="container-fluid" id="metaAnalysis" style="display: none">
	<div id="metaAnalysisError" style="display: none"></div>
</div>
<div id="searchContainer">
{% include "dashboard/cloudservice/searchForm.html" %}

<div id="searchError" style="display: none"></div>
<div id="searchRes"></div>
</div>
<script>


$( "#searchTab" ).click(function(){
	$("#searchTab").parent().addClass("active")
	$("#statTab").parent().removeClass("active")
	$("#searchContainer").fadeIn("slow");
	$("#metaAnalysis").hide();
});




</script>
{% endblock %}
