<div>Download size is {{size}} MB for a total of {{count}} files.</div>

{% if size > 500 %}
	<div>File size bigger than 500 MB. Download will happen in background</div>
	<input type="button" onclick="alert('download')"  name="backgroundDownload" value="Download" />
{% else %}
<input type="button" onclick="startForegroundDownload('{{platform}}')" name="foregroundDownload" value="Download" />

{% if downloader %}
	{{downloader}}
{% endif %}

{% endif %}

<div id="downStatusError" style="display: none"></div>
<div id="downStatus" style="display: none"></div>
