<style>

img#revSpinner{
	margin-left: 45%;
	margin-right: 45%;
	display: none;
}

</style>
<table class="table table-bordered table-striped table-hover" id="searchResult">
	<tr id="resHeader"><th colspan=2>File Name</th><th>MIME Type</th><th>Creation Time</th><th>Modified By User</th><th>Deleted</th></tr>

	{% for d in data %}
	<tr><td>{% if d.mimeType == "application/vnd.google-apps.folder" %}<img src="/static/icons/folder.png" id="{{d.id}}" />{% else %}<img src="/static/icons/page.png" id="{{d.id}}" />{% endif %}</td><td><a href="javascript:void(0)" onclick="showFile('{{d.id}}','{{platform}}')">{{d.title}}</a></td><td>{{d.mimeType}}</td><td>{{d.createdDate}}</td><td>{{d.modifiedByMeDate}}</td><td>{{d.labels.trashed}}</td></tr>
	{% empty %}
	<tr><td colspan=6>Sorry no files have been found.</td></tr>
	{% endfor %}

</table>

<div id="fileRevisionContainer" style="display: none">
</div>
<br />
