<a href="javascript:void(0)" onclick="backToSearch()">Back</a>
<table class="table table-bordered">
	<tr><td>File</td><td>{{item.title}} (original {{item.originalFilename}})</td></tr>
	<tr><td>Owners</td><td>{{item.ownerNames|join:", "}}</td></tr>
	<tr><td>Last modified by</td><td>{{item.lastModifyingUser.displayName|default:"Nobody"}} ({{item.lastModifyingUser.emailAddress|default:"Nobody"}})</td></tr>
	<tr><td>Last viewed</td><td>{{item.lastViewedByMeDate|default:"Nobody"}}</td></tr>
	{% if item.imageMediaMetadata %}
	<tr><td>Media Location<td><a href="https://maps.google.com/maps?q={{item.imageMediaMetadata.location.latitude}},{{item.imageMediaMetadata.location.longitude}}">Location</a>
	</td></tr>
	{% endif %}
	<tr><td><a href="javascript:void(0)" onclick="showRevision('{{item.id}}')">Revision</td><td><img src="/static/47.GIF" id="revisionWait" style="display: none"/></td></tr>
	<tr><td colspan=2 style="display: none" id="revisionHistory"></td></tr>
</table>
