{% extends "base.html" %}

{% block menu %}{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-offset-5 col-md-3">
			<div class="form-login">
				{% if form.errors %}
				<p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
				{% endif %}
				<h4>Login</h4>
				<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
					{% csrf_token %}
					<input type="text" id="id_username" class="form-control input-sm chat-input" placeholder="username" name="username" />
					</br>
					<input type="password" id="id_password" class="form-control input-sm chat-input" placeholder="password" name="password" />
					</br>
					<div class="wrapper">
						<span class="group-btn">     
							<input type="submit" value="login" class="btn btn-default" />
							<input type="hidden" name="next" value="/clouditem/" />
						</span>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
{% endblock %}
