{% load dajaxice_templatetags %}
<html>
<head>
<title>Cloud Toolkit</title>
<link href="/static/style.css" rel="stylesheet" type="text/css">
{% load staticfiles %}
<script type="text/javascript" src="/static/dajax/jquery.dajax.core.js"></script>
<script type="text/javascript" src="{% static "jquery.js" %}"></script>
{% dajaxice_js_import %}
<script type="text/javascript">
function toggleHide(id){
		if (document.getElementById(id).style.display == "none" || document.getElementById(id).style.display == ""){
			document.getElementById(id).style.display = "block";
		}
		else{
			document.getElementById(id).style.display = "none";
		}
}


// parse query string parameters into array
var vars = [], hash;

var q = document.URL.split('?')[1];

if(q != undefined){
	q = q.split('&');
	for(var i = 0; i < q.length; i++){
		hash = q[i].split('=');
		vars.push(hash[1]);
		vars[hash[0]] = hash[1];
	}
}


</script>


{% block js %}{% endblock %}
</head>

{% if uploadFile %}
<body onload="parseReport()">
{% else %}
<body>
{% endif %}

<h1>Cloud Toolkit</h1> 

{% if isAuthenticated %}
<div id="menuTop">
<span id="helloMenu">
	Hello {{ uname }} 
	| <a href="/import/">Import</a>
	| <a href="/logout/">Logout</a>
</span>
{% block menudash %}{% endblock %}

</div>
{% endif %}

<div>
	{% block content %}{% endblock %}
</div>
<br />
<span style="font-size: 6pt">Icons made by Freepik from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>  is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></span>


</body>


</html>
