{% load dajaxice_templatetags %}
<html>
<head>
<title>Cloud Toolkit</title>
{% load staticfiles %}
<script type="text/javascript" src="/static/dajax/jquery.dajax.core.js"></script>
<script type="text/javascript" src="{% static "jquery.js" %}"></script>
{% dajaxice_js_import %}
{% block js %}{% endblock %}
</head>

{% if uploadFile %}
<body onload="parseReport()">
{% else %}
<body>
{% endif %}

<h1>Cloud Toolkit</h1>

{% block menu %}
<ul>
	<li>Import</li>
	<li>Downloader</li>
	<li>Timeline</li>
	<li>Report</li>
</ul>
{% endblock %}

{% if isAuthenticated %}
	<p>Hello {{ uname }}</p>
{% else %}
	<p>Not logged in</p>
{% endif %}

<div>
	{% block content %}{% endblock %}
</div>

</body>


</html>
