{% load dajaxice_templatetags %}
<html>
<head>
<title>Cloud Toolkit</title>
<link href="/static/style.css" rel="stylesheet" type="text/css">
{% load staticfiles %}
<script type="text/javascript" src="/dajax/jquery.dajax.core.js"></script>
<script type="text/javascript" src="{% static "jquery.js" %}"></script>
<script type="text/javascript" src="/dajaxice/dajaxice.core.js"></script>
<script type="text/javascript">

function backToSearch(){
	$("#fileRevisionContainer").fadeOut("fast", "linear");
	$("#searchResult").fadeIn("fast", "linear");
}

function iVal(){
	return document.getElementById("i").value
}

function tVal(){
	return document.getElementById("t").value
}
</script>

{% block js %}{% endblock %}
</head>

<body>

<h1>Cloud Toolkit</h1> 

{% if isAuthenticated %}
<div id="menuTop">
<span id="helloMenu">
	Hello {{ uname }} 
	| <a href="/import/">Import</a>
	| <a href="/logout/">Logout</a>
</span>
{% block menudash %}{% endblock %}

</div>
{% endif %}

<div>
	{% block content %}{% endblock %}
</div>
<br />
<span style="font-size: 6pt">Icons made by Freepik from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>  is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></span>


</body>


</html>
