{% extends "dashboard/dash.html" %}

{% block js %}
<script type="text/javascript" src="{{cloudServiceJavascript}}"></script>
{% endblock %}

{% block rightcont %}

<h2>{{platformTitle}} Analysis</h2>

<div class="analysisHead">
	<table class="headTable"><tr>
			<td><img src="/static/icons/add.png" /></td>
			<td><a class="foldingLink" onclick="$('#accountTab').fadeToggle('slow')" href="javascript:void(0);">Account Info</a></td>
			<td><img id="wait0" class="waiters" style="display: none" src="/static/47.GIF" /></td>
	</tr></table>
</div>

<div id="accountTab" style="display: none">
	{{userInfoTable}}
</div>

<div class="analysisHead">
	<table class="headTable"><tr>
			<td><img src="/static/icons/add.png" /></td>
			<td><a class="foldingLink" onclick="startMetaAnalysis()" href="javascript:void(0);">Metadata Analysis</a></td>
			<td><img id="wait1" class="waiters" style="display: none" src="/static/47.GIF" /></td>
	</tr></table>
</div>

<div id="metaAnalysisError" style="display: none"></div>
<div id="metaAnalysis" style="display: none"></div>

<div class="analysisHead">
	<table class="headTable"><tr>
			<td><img src="/static/icons/add.png" /></td>
			<td><a class="foldingLink" onclick="fold('#metaSearchCont')" href="javascript:void(0);">Metadata Search</a></td>
			<td><img id="wait2" class="waiters" style="display: none" src="/static/47.GIF" /></td>
	</tr></table>
</div>

<div id="metaSearchCont" style="display: none">
	<div id="resStatus"></div>
	<form method="post" id="searchForm" action="">
		{% csrf_token %}
		<table>
			<tr><td>{{ resForm.resType.label }}</td><td>{{ resForm.resType }}</td></tr>
			<tr><td>{{ resForm.mimeType.label }}</td><td>{{ resForm.mimeType }}</td></tr>
			<tr><td></td><td><input type="button" value="Search" onclick="startRes();" /></td></tr>
			<tr><td style="height: 20px">&nbsp;</td><td><span id="wait2" style="height: 20px; display:none;"><img src="/static/47.GIF" /></span></td></tr>
		</table>
	</form>
	<div id="searchError" style="display: none"></div>
	<div id="searchRes"></div>
</div>

<div class="analysisHead">
	<table class="headTable"><tr>
			<td><img src="/static/icons/add.png" /></td>
			<td><a class="foldingLink" onclick="fold('#downCont')" href="javascript:void(0);">Downloader</a></td>
			<td><img id="wait3" class="waiters" style="display: none" src="/static/47.GIF" /></td>
	</tr></table>
</div>

<div id="downError" style="display: none"></div>
<div id="downCont" style="display: none">
	<table>
		<tr>
			<td><div onclick="getDownloadList()">Files to download</div></td>
			<td><span id="wait" style="height: 20px; display:none;"><img src="/static/47.GIF" /></span></td>
		</tr>
	</table>
	<div id="downList"></div>
	<div id="fileDownStatus"></div>
</div>


<div class="analysisHead">
	<table class="headTable"><tr>
			<td><img src="/static/icons/add.png" /></td>
			<td><a class="foldingLink" onclick="fold('#downCont')" href="javascript:void(0);">Comparator</a></td>
			<td><img id="wait4" class="waiters" style="display: none" src="/static/47.GIF" /></td>
	</tr></table>
</div>


<div id="comparatorError" style="display: none"></div>
<div id="comparatorCont" style="display: none">
	<div onclick="compareHash();">Compare Local files with Remote</div>
	<div id="hashTable"></div>
</div>

{% endblock %}
