<style>
table.file{
	border: solid 1px black;
}

table.revision{
	border: solid 1px grey;
}

</style>

{% if meta %}
	<table class="table table-bordered">
		<tr><th>ID</th><th>Signature Hash</th><th>Metadata Verification</th></tr>
		<tr>
			<td>{{meta.metaID}}</td>
			<td>{{meta.mSig}}</td>
			<td width="100px">{% if meta.verificationResult == True %}<img src="/static/icons/accept.png" />{% else %}<img src="/static/icons/delete.png" />{% endif %}</td>
		</tr>
	</table>
{% elif file %}

	<table class="file table table-bordered">
		<tr><th>ID</th><th>File Name</th><th>Signature Hash</th><th>Verification Result</th></tr>

	{% for f in file %}

			<tr class="info">
				<td width="50px"><b>{{f.fID}}</b></td>
				<td>{{f.fName}}</td>
				<td>{{f.fSig}}</td>
				<td width="100px">{% if f.verificationResult == True %}<img src="/static/icons/accept.png" />{% else %}<img src="/static/icons/delete.png" />{% endif %}</td>
			</tr>
		
		{% if f.history and f.history|length > 0 %}
			<tr><td colspan=4><table class="revision table table-bordered">
				<tr><td width="75%">Revision ID</td><td>Metadata Verification</td><td>File Verification</td></tr>
				
				{% for h in f.history %}
				<tr>
					<td>{{h.revID}}</td>
					<td>
						{% if h.metadataVerificationResult == True %}
							<img src="/static/icons/accept.png" />
						{% else %}
							<img src="/static/icons/delete.png" />
						{% endif %}
					</td>
					<td>
						{% if h.fileVerificationResult == True %}
							<img src="/static/icons/accept.png" />
						{% else %}
							<img src="/static/icons/delete.png" />
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table></td></tr>
		{% endif %}
	{%empty%}
		<tr><td colspan=4>No file found.</td></tr>
	{% endfor %}
	</table>
{% elif dta %}
	<table class="table table-bordered">
		<tr><th>Verification Request</th><th>Verification Response</th><th>Verification Result</th><th>ZIP Hash</th></tr>
		<tr><td>{{dta.reqName}}</td><td>{{dta.sigName}}<a href="{{dta.downLink}}" target="_blank"> <img src="/static/icons/disk.png" /></a></td><td>{% if dta.res == True %}<img src="/static/icons/accept.png" />{%else%}<img src="/static/icons/delete.png" />{%endif%}</td><td>{{dta.zipHash}} (<b>{{dta.zipHashBase64}}</b>)</td></tr>
	</table>


{% endif %}
