<style>
table.file{
	border: solid 1px black;
}

table.revision{
	border: solid 1px grey;
}

</style>

<table>
	<tr><td>Metadata</td></tr>
	<tr><td>{{meta.metaID}}</td></tr>
	<tr><td>{{meta.verificationResult}}</td></tr>
</table>

{% for f in file %}
<table class="file"><tr><td width="50px">{{f.fID}}</td><td>{{f.fName}}</td><td width="100px">{% if f.verificationResult == True %}<img src="/static/icons/accept.png" />{% else %}<img src="/static/icons/delete.png" />{% endif %}</td></tr></table>
{% if f.history|length > 0 %}
<table class="revision">
	<tr><td>Revision ID</td><td>Metadata Verification</td><td>File Verification</td></tr>
	
	{% for h in f.history %}
	<tr>
		<td>{{h.revID}}</td>
		<td>{% if h.metadataVerificationResult %}<img src="/static/icons/accept.png" />{% else %}<img src="/static/icons/delete.png" />{% endif %}</td>
		<td>{% if h.fileVerificationResult %}<img src="/static/icons/accept.png" />{% else %}<img src="/static/icons/delete.png" />{% endif %}</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
<br />
{% endfor %}
