{% extends "dashboard/tknDash.html" %}

{% block js %}

<script type="text/javascript">

function compare(){
	Dajaxice.comparator.compareFile(Dajax.process,{'cloudItem':iVal(),'tokenID':tVal()})
}

function verify(){
	Dajaxice.comparator.verifyFile(Dajax.process,{'cloudItem':iVal(),'tokenID':tVal()})
}

</script>

{% endblock %}

{% block content %}

<div class="page-header">
	<h1>Verify</h1>
</div>

<ol class="breadcrumb">
	<li><a href="/clouditem/">Cloud Item</a></li>
	<li><a href="/clouditem/{{objID}}/">Cloud Item {{objID}}</a></li>
	<li><a href="/token/{{objID}}/">Access Tokens</a></li>
	<li><a href="/token/{{objID}}/{{tokenID}}/">Access Token {{tokenID}}</a></li>
	<li class="active">Verify</li>
</ol>

<div class="panel panel-default">
	<div class="panel-heading"><h2>Integrity Verification</h2></div>
	<div class="panel-body">
		Verify the integrity of metadata/files/history.
		<input type="button" value="Verify" class="btn btn-default" onclick="verify()" />

		<div id="verifyerError"></div>
		<div id="verifyer"></div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><h2>Comparator</h2></div>
	<div class="panel-body">


		<input type="button" value="Compare" class="btn btn-default" onclick="compare()" />

		<div id="comparatorError"></div>
		<div id="comparator"></div>
	</div>
</div>

{% endblock %}

