{% extends "dashboard/dash.html" %}

{% block js %}
<script type="text/javascript">

function dropboxAuthCode(){
	$("#loadDrop").fadeIn("slow")
	Dajaxice.tokendash.submitDropboxCode(dropCallBack, {'code':$('#dropCode').val(),'ci':iVal()})
}

function dropCallBack(data){
	$("#loadDrop").fadeOut("slow")
	Dajax.process(data)
	Dajaxice.tokendash.showTokens(Dajax.process, {'ci': iVal()})
}

function googleAuthCode(){
	$("#loadGoogle").fadeIn("slow")
	Dajaxice.tokendash.submitGoogleCode(googleCallBack, {'code':$('#gCode').val(),'ci':iVal()})
}

function googleCallBack(data){
	$("#loadGoogle").fadeOut("slow")
	Dajax.process(data)
	Dajaxice.tokendash.showTokens(Dajax.process, {'ci': iVal()})
}


</script>

{% endblock %}

{% block content %}

<div class="page-header">
	<h1>Access Tokens</h1>
</div>

<ol class="breadcrumb">
	  <li><a href="/clouditem/">Cloud Item</a></li>
	  <li><a href="/clouditem/{{objID}}">Cloud Item {{objID}}</a></li>
	      <li class="active">Access Token</li>
</ol>

<ul class="nav nav-tabs nav-justified">
	<li role="presentation" class="active"><a id="accessTable" href="javascript:void(0)"><h4>Access Token List</h4></a></li>
	<li role="presentation"><a id="cspLogin" href="javascript:void(0)"><h4>CSP Login</h4></a></li>
	<li role="presentation"><a id="creds" href="javascript:void(0)"><h4>Credentials</h4></a></li>
</ul>

<div id="tokenError"></div>

<div id="credPanel" style="display: none">
<h2 onclick='$("#credTab").fadeToggle("slow")'><a href="#">Credentials</a></h2>
<table id="credTab" class="table table-bordered" style="display: none">
	<tr><th>Hostname</th><th>Username</th><th>Password</th></tr>
	{% for b in browsers %}
		{% for p in b.profiles %}
			{% for cred in p.credentialList %}
			<tr><td>{{ cred.hostname }}</td><td>{{ cred.username }}</td><td>{{ cred.password }}</td></tr>
			{% endfor %}
		{% endfor %}
	{% empty %}
		<tr><td colspan=3>No results have been found.</td></tr>
	{% endfor %}
</table>
</div>

<div class="row" id="loginPanel" style="display: none">
	<div class="col-md-6">
		<h2>Dropbox</h2>
		<div class="container-fluid">
		<form method="post">
		{% csrf_token %}
		<table class="table">
			<tr>
				<td>Login with <a target="_blank" href="{{ dropAuthURL }}">Dropbox</a></td><td rowspan=4 style="text-align: center"><img src="/static/drop.png" /></td>
			</tr>
			<tr>
				<td><label for="dropCode">Authorization Code</label></td>
			</tr>
			<tr>
				<td><input type="text" name="dropboxCode" id="dropCode" class="form-control" /></td>
			</tr>
			<tr>
				<td>
					<input type="button" name="sub" onclick="dropboxAuthCode()" value="Submit" class="btn btn-default" />
					<img src="/static/47.GIF" style="display: none" id="loadDrop" />
				</td>
			</tr>

		</table>
		</form>
		</div>
	</div>

	<div class="col-md-6">
		<h2>Google Drive</h2>
		<div class="container-fluid">
		<form method="post">
		{% csrf_token %}
		<table class="table">
			<tr>
				<td>Login with <a target="_blank" href="{{ gdriveAuthURL }}">Google Drive</a></td><td rowspan=4 style="text-align: center"><img src="/static/google.png" /></td>
			</tr>
			<tr>
				<td><label for="gCode">Authorization Code</label></td>
			</tr>
			<tr>
				<td><input type="text" name="googleCode" id="gCode" class="form-control" /></td>
			</tr>
			<tr>
				<td>
					<input type="button" name="sub" onclick="googleAuthCode()" value="Submit" class="btn btn-default" />
					<img src="/static/47.GIF" style="display: none" id="loadGoogle" />
				</td>
			</tr>

		</table>
		</form>
		</div>
	</div>
</div>

<div id="accessPanel">
	<h2><a href="javascript:void(0)" onclick="Dajaxice.tokendash.showTokens(Dajax.process,{'ci': iVal()})">Access Tokens</a></h2>
	<div id="tokenTable"></div>
</div>

<input type="hidden" value="{{objID}}" id="i" />

<script>
$("#accessTable").click(function(){
	$("#accessTable").parent().addClass("active");
	$("#cspLogin").parent().removeClass("active");
	$("#creds").parent().removeClass("active");
	$("#loginPanel").hide()
	$("#credPanel").hide()
	$("#accessPanel").fadeIn("slow")
});

$("#cspLogin").click(function(){
	$("#accessTable").parent().removeClass("active");
	$("#cspLogin").parent().addClass("active");
	$("#creds").parent().removeClass("active");
	$("#loginPanel").fadeIn("slow")
	$("#credPanel").hide()
	$("#accessPanel").hide()
});

$("#creds").click(function(){
	$("#accessTable").parent().removeClass("active");
	$("#cspLogin").parent().removeClass("active");
	$("#creds").parent().addClass("active");
	$("#loginPanel").hide()
	$("#credPanel").fadeIn("slow")
	$("#accessPanel").hide()
});



</script>


{% endblock %}
