{% extends "dashboard/dash.html" %}

{% block js %}
<script type="text/javascript">

function dropboxAuthCode(){
	$("#loadDrop").fadeIn("slow")
	Dajaxice.downloader.submitDropboxCode(dropCallBack, {'code':$('#dropCode').val(),'ci':iVal()})
}

function dropCallBack(data){
	$("#loadDrop").fadeOut("slow")
	Dajax.process(data)
	Dajaxice.downloader.showDropboxTokens(Dajax.process, {'ci': iVal()})
}

function googleAuthCode(){
	$("#loadGoogle").fadeIn("slow")
	Dajaxice.downloader.submitGoogleCode(googleCallBack, {'code':$('#gCode').val(),'ci':iVal()})
}

function googleCallBack(data){
	$("#loadGoogle").fadeOut("slow")
	Dajax.process(data)
	Dajaxice.downloader.showGoogleTokens(Dajax.process, {'ci': iVal()})
}


</script>

{% endblock %}

{% block rightcont %}

<h2 onclick='$("#credTab").fadeToggle("slow")'>Credentials</h2>
<table id="credTab" style="display: none">
	<tr><td><b>Hostname</b></td><td><b>Username</b></td><td><b>Password</b></td></tr>
	{% for b in browsers %}
		{% for p in b.profiles %}
			{% for cred in p.credentialList %}
			<tr><td>{{ cred.hostname }}</td><td>{{ cred.username }}</td><td>{{ cred.password }}</td></tr>
			{% endfor %}
		{% endfor %}
	{% endfor %}
</table>

<h2>Dropbox</h2>
<div id="dStat"></div>
<ol>
	<li>First login with <a target="_blank" href="{{ dropAuthURL }}">Dropbox</a></li>
	<li>Copy the authorization code below and submit to obtain an access token

		<form method="post">
			{% csrf_token %}
			<table>
				<tr>
					<td>Authorization Code
					<input type="text" name="dropboxCode" id="dropCode" />
					<input type="button" name="sub" onclick="dropboxAuthCode()" value="Submit" />
					<img src="/static/47.GIF" style="display: none" id="loadDrop" /></td>
				</tr>
			</table>
		</form>
	</li>
	<li>
		Display the <a href="javascript:void(0)" onclick="Dajaxice.downloader.showDropboxTokens(Dajax.process,{'ci': iVal()})">tokens</a>
	</li>
	<li>
		<div id="dropTokenTable"></div>
	</li>
</ol>


<h2>Google Drive</h2>
<div id="gStat"></div>
<ol>
	<li>First login with <a target="_blank" href="{{gdriveAuthURL}}">Google Drive</a></li>
	<li>Copy the authorization code below and submit to obtain an access token

		<form method="post">
			{% csrf_token %}
			<table>
				<tr>
					<td>Authorization Code
					<input type="text" name="googleCode" id="gCode" />
					<input type="button" name="sub" onclick="googleAuthCode()" value="Submit" />
					<img src="/static/47.GIF" style="display: none" id="loadGoogle" /></td>
				</tr>
			</table>	
		</form>
	</li>
	<li>Display the <a href="javascript:void(0)" onclick="Dajaxice.downloader.showGoogleTokens(Dajax.process,{'ci': iVal()})">tokens</a></li>
	<li><div id="googleTokenTable"></div></lI>
</ol>

<h2>Microsoft OneDrive</h2>

<input type="hidden" value="{{objID}}" id="i" />
{% endblock %}
