{% extends "base.html" %}

{% block content %}
<div class="page-header">
	<h1>Cloud Item {{objID}}</h1>
</div>

<ol class="breadcrumb">
	<li><a href="/clouditem/">Cloud Item</a></li>
	<li class="active">Cloud Item {{objID}}</li>
</ol>

<div class="panel panel-default">
	<div class="panel-heading"><h3>Cloud Item Dashboard</h3></div>
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row" style="margin-bottom: 20px">
				<div class="col-md-3">
					<table>
						<tr>
							<td width="70px">
								<span class="glyphicon glyphicon-log-in" style="font-size: 40pt" aria-hidden="true"></span>
							</td>
							<td style="text-align: center; vertical-align: middle">
								<h4><a href="/importer/{{objID}}/">Import</h4></a>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-3">
					<table>
						<tr>
							<td width="70px">
								<span class="glyphicon glyphicon-wrench" style="font-size: 40pt" aria-hidden="true"></span>
							</td>
							<td style="text-align: center; vertical-align: middle">
								<h4><a href="/token/{{objID}}/">Access Token</h4></a>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row" style="margin-bottom: 20px">
				<div class="col-md-3">
						<table>
							<tr>
								<td width="70px">
									<span class="glyphicon glyphicon-compressed" style="font-size: 40pt" aria-hidden="true"></span>
								</td>
								<td style="text-align: center; vertical-align: middle">
									<h4><a href="/browserfiles/{{objID}}/">Browser Files</h4></a>
								</td>
							</tr>
						</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
