{% extends 'dashboard/tknDash.html' %}

{% block js %}
<script type="text/javascript">
function startDownload(t){
	Dajaxice.downloader.checkDownload(downCallBack,{'t':t})
}

function downCallBack(data){
	Dajax.process(data)	
}

{% if btnClicked %}
startDownload({{tokenID}})
{% endif %}

{% if downStatus != -1 and downStatus != 4%}
setInterval(function(){ startDownload({{tokenID}})},2500)
{% endif %}

</script>

{% endblock %}


{% block rightcont %}

<h2>Account</h2>

{{acc}}

<h2>Download</h2>

<p>The download will include:
<ol>
	<li>the metadata</li>
	<li>the files themselves</li>
	<li>the history of the files if any</li>
</ol>

<p>The download may take some times depending on the network speed, the load of the API service of Google/Dropbox/OneDrive and
the size of the files.<p>

<p>
The download will happen in background and notifications will appear in this page about the status of download.
</p>


<form name="d" method="POST" action="">
	{% csrf_token %}
	<input type="submit" name="start" value="Download" />
</form>
</p>

<div id="errors">{{errors}}</div>

<table id="downTable">
	<tr><td>Download status</td><td><div id="thStatus">{% if downStatus == -1 %}No download have been started.{%elif downStatus == 4 %}Download already completed.{%endif%}</div></td><td><div id="thMessage">-</div</td></tr>
	<tr><td>Metadata</td><td><div id="metaStatus">{{metaWait}}</div></td></tr>
	<tr><td>Files</td><td><div id="fileStatus">{{fileWait}}</div></td></tr>
	<tr><td>History</td><td><div id="historyStatus">{{historyWait}}</div></td></tr>
</table>

{% endblock %}
