{% extends "dashboard/dash.html" %}

{% block js %}
<script type="text/javascript">

function showCont(name){
	$("#wait").fadeIn("slow");
	Dajaxice.dashboard.openFolder(my_call_back,{'resName': 'analysisRes','tokenID': vars['t']});
}

// workaround for loader
function my_call_back(data){
	Dajax.process(data)
	$("#wait").fadeOut("slow");
	$("#analysisRes").fadeIn("slow");
}

function startRes(){
	$("#wait2").fadeIn("slow");
	Dajaxice.dashboard.searchMetaData(searchCallBack,{'form':$('#searchForm').serialize(true), 'tokenID': vars['t']});
}

function searchCallBack(data){
	Dajax.process(data);
	$("#wait2").fadeOut("slow");
	$("#searchRes").fadeIn("slow");
}

</script>

{% endblock %}

{% block rightcont %}

<h2>Account Info</h2>
<table>
	<tr><td>Display Name</td><td>{{ account_info.display_name }}</td></tr>
	<tr><td>E-Mail Verified</td><td>{{ account_info.email_verified }}</td></tr>
	<tr><td>E-Mail</td><td>{{ account_info.email }}</td></tr>
	<tr><td>Country</td><td>{{ account_info.country }}</td></tr>
	<tr><td>Quota</td><td>{{ account_info.quota_info.quota }}</td></tr>
	<tr><td>Shared</td><td>{{ account_info.quota_info.shared }}</td></tr>
</table>

<h2>File Metadata</h2>

<table><tr><td style="height: 25px;"><span onclick="showCont()">Start Analysis (deleted files, directory depth=5)</span></td>
	<td><span id="wait" style="height: 20px; display:none;"><img src="/static/47.GIF" /></span></td></tr></table>

<div id="statusMeta"></div>
<br />

<div id="analysisRes" style="display:none;">
</div>

<h2>Metadata Search</h2>
<div id="resStatus"></div>
<form method="post" id="searchForm" action="">
	{% csrf_token %}
	<table>
		<tr><td>{{ resForm.resType.label }}</td><td>{{ resForm.resType }}</td></tr>
		<tr><td>{{ resForm.mimeType.label }}</td><td>{{ resForm.mimeType }}</td></tr>
		<tr><td></td><td><input type="button" value="Search" onclick="startRes();" /></td></tr>
		<tr><td style="height: 20px">&nbsp;</td><td><span id="wait2" style="height: 20px; display:none;"><img src="/static/47.GIF" /></span></td></tr>
	</table>
</form>
<div id="searchRes"></div>

<h2>Downloader</h2>
<div>Download Dropbox Remote Content</div>
<h2>Local <=> Remote Comparatror</h2>
{% endblock %}
