{% extends "dashboard/dash.html" %}

{% block js %}
<script type="text/javascript">

function showCont(name){
	//$("#wait").show();
	$("#wait").fadeIn("slow");
	Dajaxice.dashboard.openFolder(my_call_back,{'resName': 'analysisRes','tokenID': vars['t']});
}

// workaround for loader
function my_call_back(data){
	Dajax.process(data)
	$("#wait").fadeOut("slow");
	$("#analysisRes").fadeIn("slow");
}

function startRes(){

}
</script>

{% endblock %}

{% block rightcont %}

<h2>Account Info</h2>
<table>
	<tr><td>Display Name</td><td>{{ account_info.display_name }}</td></tr>
	<tr><td>E-Mail Verified</td><td>{{ account_info.email_verified }}</td></tr>
	<tr><td>E-Mail</td><td>{{ account_info.email }}</td></tr>
	<tr><td>Country</td><td>{{ account_info.country }}</td></tr>
	<tr><td>Quota</td><td>{{ account_info.quota_info.quota }}</td></tr>
	<tr><td>Shared</td><td>{{ account_info.quota_info.shared }}</td></tr>
</table>

<h2>File Metadata</h2>

<table><tr><td style="height: 25px;"><span onclick="showCont()">Start Analysis (deleted files, directory depth=5)</span></td>
	<td><span id="wait" style="height: 20px; display:none;"><img src="/static/47.GIF" /></span></td></tr></table>

<div id="statusMeta"></div>
<br />

<div id="analysisRes" style="display:none;">
</div>

<h2>Metadata Search</h2>
<form>
	<table>
		<tr><td>Deleted File</td><td><input type="radio" name="searchType" /></td></tr>
		<tr><td>MIME Type</td>
			<td>
				<input type="radio"  name="searchType" /></td>
			<td>	<select name="mime">
					{% for m in mimes %}
						<option value="{{m.mime}}">{{m.mime}}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr><td>Last Modified</td><td><input type="radio"  name="searchType" /></td></tr>
		<tr><td colspan=3><button value="Search" onclick="startRes()">Search</button></td></tr>
	</table>
</form>

<div id="resCont">
	<table></table>
</div>

<h2>Downloader</h2>
<h2>Local <=> Remote Comparatror</h2>
{% endblock %}
