<table style="border-collapse: collapse; border: solid 1px black;">
	<tr><td colspan=2 style="text-align: center; padding: 4px"><b>Stats</b></td></td></tr>
	<tr><td style="padding: 4px; border: solid 1px black;"><b>Directory Count</b></td><td style="border: solid 1px black;" id="dC">{{ dC }}</td></tr>
	<tr><td style="padding: 4px; border: solid 1px black;"><b>File Count</b></td><td style="border: solid 1px black;" id="fC">{{ fC }}</td></tr>
	<tr><td style="padding: 4px; border: solid 1px black;"><b>File Size</b></td><td style="border: solid 1px black;" id="fS">{{ fS }} MB</td></tr>
	<tr><td style="padding: 4px; border: solid 1px black;"><b>Deleted File</b></td><td style="border: solid 1px black;" id="dF">{{ dF  }}</td></tr>
	<tr><td colspan=2 style="text-align: center; padding: 4px"><b>File Types</b></td></td></tr>
	
	{% for mimetype, fCount in types.items %}
		<tr><td style="padding: 4px; border: solid 1px black;">{{ mimetype }}</td><td style="border: solid 1px black;">{{ fCount }}</td></tr>
	{% empty %}
		<tr><td colspan=2>Sorry no file found</td></tr>
	{% endfor %}
</table>
