{% extends "dashboard/dash.html" %}

{% block js %}
<script type="text/javascript">

/* ==== Analysis ==== */

function showCont(type){
	$("#wait").fadeIn("slow");
	Dajaxice.dashboard.analyzeDropMetaData(analysisCallBack,{'resName': 'analysisRes','tokenID': vars['t'], 'resType': type});
}

// callback for analysis
function analysisCallBack(data){
	Dajax.process(data)
	$("#wait").fadeOut("slow");
	$("#analysisRes").fadeIn("slow");
}

/* End */

/* ==== Meta Research ==== */

function startRes(){
	$("#wait2").fadeIn("slow");
	Dajaxice.dashboard.searchMetaData(searchCallBack,{'form':$('#searchForm').serialize(true), 'tokenID': vars['t']});
}

// callback for meta search
function searchCallBack(data){
	Dajax.process(data);
	$("#wait2").fadeOut("slow");
	$("#searchRes").fadeIn("slow");
}

/* End */

/* ==== File list to download ==== */

function getDownloadList(){
	$("#wait3").fadeIn("slow");
	Dajaxice.dashboard.getDownloadList(downCallBack,{'tokenID': vars['t']});
}

// callback for download list
function downCallBack(data){
	Dajax.process(data);
	$("#wait3").fadeOut("slow");
	$("#downList").fadeIn("slow");
}

/* End */

/* ==== Download ==== */

function wrapDownload(){
	Dajaxice.dashboard.downloadWrapper(wrapperCallBack,{'tokenID': vars['t']});
}

function wrapperCallBack(data){
	if (data[0].val == "true")
		downloadFiles();
}


function downloadFiles(){
	$("#downBtn").fadeOut("slow");
	$("#waitDown").fadeIn("slow");
	$("#progressLen").width(0);
	$("#file").text(0);

	$("form#downListForm :input[type=hidden]").each(function(){
		var input = $(this);
		Dajaxice.dashboard.downloadFile(downFileCallBack,{'fileName': input.val()});
	});
}

//callback for download of files
function downFileCallBack(data){
	if (data[0].val == "correct") {
		html = parseInt($("#file").text());
		totalLen = $("#progress").width();
		nowFileLen = $("#progressLen").width();
		totalFile = parseInt($("#total").text());
		
		//block length
		blockLen = totalLen / totalFile;

		//add the block to the current progress width
		$("#progressLen").width(nowFileLen+blockLen);
		
		tot = html + 1;
		$("#file").text(tot);
		
		if (tot == totalFile){
			oldText = $("#fileDownStatus").text();
			$("#fileDownStatus").html(oldText + "<p>Completed</p>");
			$("#fileDownStatus").fadeIn("slow");
			$("#waitDown").fadeOut("slow");
			$("#downBtn").fadeIn("slow");
		}
	}
	else{
		cont = data[0].val;
		oldText = $("#fileDownStatus").text();
		$("#fileDownStatus").text(oldText + cont);
		$("#fileDownStatus").fadeIn("slow");
	}	
}

/* End */

/* ==== Hash comparator === */

function compareHash(){
	Dajaxice.dashboard.comparator(Dajax.process,{'tokenID': vars['t']});
}

/* End */

</script>

{% endblock %}

{% block rightcont %}

<h2>Account Info</h2>
<table>
	<tr><td>Display Name</td><td>{{ account_info.display_name }}</td></tr>
	<tr><td>E-Mail Verified</td><td>{{ account_info.email_verified }}</td></tr>
	<tr><td>E-Mail</td><td>{{ account_info.email }}</td></tr>
	<tr><td>Country</td><td>{{ account_info.country }}</td></tr>
	<tr><td>Quota</td><td>{{ account_info.quota_info.quota }}</td></tr>
	<tr><td>Shared</td><td>{{ account_info.quota_info.shared }}</td></tr>
</table>

<h2>File Metadata</h2>

<table><tr>
	<td style="height: 25px;">
			<span onclick="showCont('start')">Start Analysis (deleted files, directory depth=5)</span> | 
			<span onclick="showCont('up')">Update</span>
	</td>
	<td><span id="wait" style="height: 20px; display:none;"><img src="/static/47.GIF" /></span></td></tr></table>

<div id="statusMeta"></div>
<br />

<div id="analysisRes" style="display:none;">
</div>

<h2>Metadata Search</h2>
<div id="resStatus"></div>
<form method="post" id="searchForm" action="">
	{% csrf_token %}
	<table>
		<tr><td>{{ resForm.resType.label }}</td><td>{{ resForm.resType }}</td></tr>
		<tr><td>{{ resForm.mimeType.label }}</td><td>{{ resForm.mimeType }}</td></tr>
		<tr><td></td><td><input type="button" value="Search" onclick="startRes();" /></td></tr>
		<tr><td style="height: 20px">&nbsp;</td><td><span id="wait2" style="height: 20px; display:none;"><img src="/static/47.GIF" /></span></td></tr>
	</table>
</form>
<div id="searchRes"></div>

<h2>Downloader</h2>
<table>
	<tr>
		<td><div onclick="getDownloadList()">Files to download</div></td>
		<td><span id="wait3" style="height: 20px; display:none;"><img src="/static/47.GIF" /></span></td>
	</tr>
</table>
<br />
<div id="downList"></div>
<div id="fileDownStatus"></div>
<h2>Local <=> Remote Comparator</h2>
<div onclick="compareHash();">Compare Local files with Remote</div>
<div id="hashTable"></div>
{% endblock %}
