{% extends "dashboard/dash.html" %}

{% block js %}
<script type="text/javascript">
function showReport(up,ci){
	Dajaxice.importer.showReport(showReportCallBack,{'up':up,'ci':ci})
}

function showReportCallBack(data){
	Dajax.process(data)
}
</script>
{% endblock %}

{% block content %}


<h2>Import a report</h2>

<form method='post' action='/importer/{{objID}}/' id="upForm" enctype="multipart/form-data">
	{% csrf_token %}
	<table><tr>
	{% for field in form %}
			<td>{{ field }}</td>
	{% endfor %}
	</tr>	
	<tr><td><input type='submit' value='upload' /></td></tr>
	</tr></table>
</form>

{% if upload %}
	<p>{{ upload }}</p>
{% endif %}

<div id="parseStatus"></div>

<h2>Report</h2>

<table>
	<tr><td>Report</td><td>Date</td><td>IP</td><td>Parsed</td></tr>
	
	{% for report in repList %}
	<tr><td><a href="javascript:void(0)" onclick="showReport('{{report.uploadID}}','{{objID}}')">{{ report.fileName }}</a></td><td>{{ report.uploadDate }}</td><td>{{ report.uploadIP }}</td><td>{{ report.parsed }}</td></tr>
	{% endfor %}
</table>

{% endblock %}

