{% extends "dashboard/dash.html" %}

{% block js %}
<script type="text/javascript">
function showReport(up,ci){
	Dajaxice.importer.showReport(showReportCallBack,{'up':up,'ci':ci})
}

function showReportCallBack(data){
	Dajax.process(data)
	$("#repStatus").fadeIn("slow")
	$("#reportTable").fadeIn("slow")
}
</script>
{% endblock %}

{% block content %}

<div class="page-header">
	<h1>Import</h2>
</div>

<ol class="breadcrumb">
	  <li><a href="/clouditem/">Cloud Item</a></li>
	  <li><a href="/clouditem/{{objID}}">Cloud Item {{objID}}</a></li>
	      <li class="active">Import</li>
      </ol>

{% if form %}
<h2>Upload</h2>
{% if parseStatus %}
	<div id="parseStatus" class="alert alert-danger">{{parseStatus}}</div>
{% endif %}

<form method='post' action='/importer/{{objID}}/' id="upForm" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-group">
		<label for="id_fileUp">{{ form.fileUp.label }}</label>
		{{form.fileUp}}
	</div>
	<input type='submit' value='upload' class="btn btn-default" />
</form>
{% endif %}


<h2>Report</h2>

<table id="listReportTable" class="table">
	<tr><th>ID</th><th>Date</th><th>IP</th><th>Parsed</th></tr>
	
	{% for report in repList %}
	<tr><td><a href="javascript:void(0)" onclick="showReport('{{report.id}}','{{objID}}')">{{ report.fileName }}</a></td><td>{{ report.uploadDate }}</td><td>{{ report.uploadIP }}</td><td>{{ report.parsed }}</td></tr>
	{% endfor %}
</table>

<div id="repStatus" style="display: none"></div>
<div id="reportTable" style="display: none" class="container-fluid"></div>
{% endblock %}

