<div id="visualization"></div>

<script type="text/javascript">

function tip(elem,ev,altName){

	var dec = $("<div/>").html(ev).text();
	var obj = JSON.parse(dec)
	var history = ""

	$(elem).qtip({
	content: {
		title: "Properties",
		text: "<table><tr><td><b>"+obj['timeStr']+"</b></td></tr>"+history+"</table>",
		button: true},
	show: 'click',
	hide: {
		fixed: true,
		delay: 1000,
		effect: function() { $(this).fadeOut(250); }
	}
	})
}

	// DOM element where the Timeline will be attached
	var container = document.getElementById('visualization');
	// Configuration for the Timeline
	var options = {orientation: 'top'};

	// Create a DataSet (allows two way data-binding)
	var items = new vis.DataSet([
		{% for ev in events %}
		{
content: "<a href='javascript:void(0)' id='{{forloop.counter}}'>{{ev.site}}</a>{% if ev.type == 'history' %}{% if ev.trans != None %}<br />{{ev.trans}}{% endif %}{%elif ev.type == 'cookie'%}<br/><img src='/static/icons/bug.png' />{% endif %}", 
			start: new Date({{ev.time}})
		},
		{% endfor %}
	]);

	var timeline = new vis.Timeline(container, items, options);

</script>
