{% extends "dashboard/dash.html" %}

{% block js %}
<script type="text/javascript">

/* ==== Analysis ==== */

function showCont(){
	$("#wait").fadeIn("slow");
	Dajaxice.dropcloud.analyzeDropMetaData(analysisCallBack,{'resName': 'analysisRes','tokenID': vars['t']});
}

// callback for analysis
function analysisCallBack(data){
	Dajax.process(data)
	$("#wait").fadeOut("slow");
	$("#analysisRes").fadeIn("slow");
}

/* End */

/* ==== Meta Research ==== */

function startRes(){
	$("#wait2").fadeIn("slow");
	Dajaxice.dropcloud.searchMetaData(searchCallBack,{'form':$('#searchForm').serialize(true), 'tokenID': vars['t']});
}

// callback for meta search
function searchCallBack(data){
	Dajax.process(data);
	$("#wait2").fadeOut("slow");
	$("#searchRes").fadeIn("slow");
}

/* End */

/* ==== File list to download ==== */

function getDownloadList(){
	$("#wait3").fadeIn("slow");
	Dajaxice.dropcloud.getDownloadList(downCallBack,{'tokenID': vars['t']});
}

// callback for download list
function downCallBack(data){
	Dajax.process(data);
	$("#wait3").fadeOut("slow");
	$("#downList").fadeIn("slow");
}

/* End */

/* ==== Download ==== */

function wrapDownload(){
	Dajaxice.dropcloud.downloadWrapper(wrapperCallBack,{'tokenID': vars['t']});
}

function wrapperCallBack(data){
	if (data[0].val == "true")
		downloadFiles();
}


function downloadFiles(){
	$("#downBtn").fadeOut("slow");
	$("#waitDown").fadeIn("slow");
	$("#progressLen").width(0);
	$("#file").text(0);

	$("form#downListForm :input[type=hidden]").each(function(){
		var input = $(this);
		Dajaxice.dropcloud.downloadFile(downFileCallBack,{'fileName': input.val()});
	});
}

//callback for download of files
function downFileCallBack(data){
	if (data[0].val == "correct") {
		html = parseInt($("#file").text());
		totalLen = $("#progress").width();
		nowFileLen = $("#progressLen").width();
		totalFile = parseInt($("#total").text());
		
		//block length
		blockLen = totalLen / totalFile;

		//add the block to the current progress width
		$("#progressLen").width(nowFileLen+blockLen);
		
		tot = html + 1;
		$("#file").text(tot);
		
		if (tot == totalFile){
			oldText = $("#fileDownStatus").text();
			$("#fileDownStatus").html(oldText + "<p>Completed</p>");
			$("#fileDownStatus").fadeIn("slow");
			$("#waitDown").fadeOut("slow");
			$("#downBtn").fadeIn("slow");
		}
	}
	else{
		cont = data[0].val;
		oldText = $("#fileDownStatus").text();
		$("#fileDownStatus").text(oldText + cont);
		$("#fileDownStatus").fadeIn("slow");
	}	
}

/* End */

/* ==== Hash comparator === */

function compareHash(){
	Dajaxice.dropcloud.comparator(Dajax.process,{'tokenID': vars['t']});
}

/* End */

/* === Folder === */

function fold(cnt){
	$(cnt).fadeToggle("fast", "linear");
}

/* End */

/* === Revisioner === */

function showFile(name){
	$("#searchResult").fadeOut("slow", "linear");
	$("#revSpinner").fadeIn("slow");
	Dajaxice.dropcloud.fileRevisioner(showFileCallBack,{'tokenID': vars['t'], 'fileName': name});
}

function showFileCallBack(data){
	$("#fileRevisionContainer").fadeIn("fast", "linear");
	$("#revSpinner").fadeOut("slow");
	Dajax.process(data)
}

function backToSearch(){
	$("#fileRevisionContainer").fadeOut("fast", "linear");
	$("#searchResult").fadeIn("fast", "linear");
}
/* End */

</script>

{% endblock %}

{% block rightcont %}

<h2>Dropbox Analysis</h2>

<div class="analysisHead"><a class="foldingLink" onclick="fold('#accountTab')" href="javascript:void(0);"><img src="/static/icons/add.png" />Account Info</a></div>
<div id="accountTab" style="display: none">
<table>
	<tr><td>Display Name</td><td>{{ accountInfo.display_name }}</td></tr>
	<tr><td>E-Mail Verified</td><td>{{ accountInfo.email_verified }}</td></tr>
	<tr><td>E-Mail</td><td>{{ accountInfo.email }}</td></tr>
	<tr><td>Country</td><td>{{ accountInfo.country }}</td></tr>
	<tr><td>Quota</td><td>{{ accountInfo.quota_info.quota }}</td></tr>
	<tr><td>Shared</td><td>{{ accountInfo.quota_info.shared }}</td></tr>
</table>
</div>

<div class="analysisHead"><a class="foldingLink" onclick="fold('#metaAnalysis')" href="javascript:void(0);"><img src="/static/icons/add.png" />Metadata Analysis</a></div>
<div id="metaAnalysis" style="display: none">
	<table><tr>
		<td style="height: 25px;">
				<span onclick="showCont()">Start Analysis (deleted files, directory depth=5)</span> 
		</td>
		<td><span id="wait" style="height: 20px; display:none;"><img src="/static/47.GIF" /></span></td></tr></table>

	<div id="statusMeta"></div>
	<br />

	<div id="analysisRes" style="display:none;">
	</div>
</div>


<div class="analysisHead"><a class="foldingLink" onclick="fold('#metaSearchCont')" href="javascript:void(0);"><img src="/static/icons/add.png" />Metadata Search</a></div>

<div id="metaSearchCont" style="display: none">
	<div id="resStatus"></div>
	<form method="post" id="searchForm" action="">
		{% csrf_token %}
		<table>
			<tr><td>{{ resForm.resType.label }}</td><td>{{ resForm.resType }}</td></tr>
			<tr><td>{{ resForm.mimeType.label }}</td><td>{{ resForm.mimeType }}</td></tr>
			<tr><td></td><td><input type="button" value="Search" onclick="startRes();" /></td></tr>
			<tr><td style="height: 20px">&nbsp;</td><td><span id="wait2" style="height: 20px; display:none;"><img src="/static/47.GIF" /></span></td></tr>
		</table>
	</form>
	<div id="searchRes"></div>
</div>

<div class="analysisHead"><a class="foldingLink" onclick="fold('#downCont')" href="javascript:void(0);"><img src="/static/icons/add.png" />Downloader</a></div>
<div id="downCont" style="display: none">
	<table>
		<tr>
			<td><div onclick="getDownloadList()">Files to download</div></td>
			<td><span id="wait3" style="height: 20px; display:none;"><img src="/static/47.GIF" /></span></td>
		</tr>
	</table>
	<div id="downList"></div>
	<div id="fileDownStatus"></div>
</div>

<div class="analysisHead"><a class="foldingLink" onclick="fold('#comparatorCont')" href="javascript:void(0);"><img src="/static/icons/add.png" />Local <=> Remote Comparator</a></div>
<div id="comparatorCont" style="display: none">
	<div onclick="compareHash();">Compare Local files with Remote</div>
	<div id="hashTable"></div>
</div>

{% endblock %}
